<div class="project-name">
    <div class="pane-action"><</div>
    <label>{{ projectName }}</label>
</div>
<div class="swimlanes">
    <div class="lane backlog">
        <div class="heading">
            <label>Backlog</label>
            <div class="action">+</div>
        </div>
        <ul>
            <!-- <li class="task">
                <div class="loe low"></div>
                <div>Lorem ipsum dolor sit amet...<div>
            </li>
            <li class="task">
                <div class="loe low"></div>
                Lorem ipsum dolor sit amet...
            </li>
            <li class="task">
                <div class="loe medium"></div>
                <div>Lorem ipsum dolor sit amet...<div>
            </li>
            <li class="task">
                <div class="loe high"></div>
                <div>Lorem ipsum dolor sit amet...<div>
            </li> -->
        </ul>
    </div>
    <div class="lane accepted">
        <div class="heading">
            <label>Accepted</label>
        </div>
        <ul>
            <!-- <li class="task">
                <div class="loe low"></div>
                Lorem ipsum dolor sit amet...
            </li>
            <li class="task">
                <div class="loe medium"></div>
                <div>Lorem ipsum dolor sit amet...<div>
            </li> -->
        </ul>
    </div>
    <div class="lane in-progress">
        <div class="heading">
            <label>In Progress</label>
        </div>
        <ul>
           <!--  <li class="task">
                <div class="loe low"></div>
                Lorem ipsum dolor sit amet...
            </li>
            <li class="task">
                <div class="loe medium"></div>
                <div>Lorem ipsum dolor sit amet...<div>
            </li> -->
        </ul>
    </div>
    <div class="lane completed">
        <div class="heading">
            <label>Completed</label>
        </div>
        <ul>
           <!--  <li class="task">
                <div class="loe low"></div>
                Lorem ipsum dolor sit amet...
            </li>
            <li class="task">
                <div class="loe medium"></div>
                <div>Lorem ipsum dolor sit amet...<div>
            </li> -->
        </ul>
    </div>
</div>
